<link rel="stylesheet" href="./styles/main.css" media="screen" title="no title" charset="utf-8">

<div class="container">
  <div class="row">
    <h1>Hello! {{user}}</h1>
    <!-- <form ng-submit="loginLocal(username, password)">
      <div class="six columns">
        <input class="u-full-width" placeholder="username" ng-model="username"/>
        <input class="u-full-width" placeholder="password" ng-model="password"/>
        <input class="button-primary" type="submit" value="Login"/>
      </div>
    </form> -->
  </div>
</div>
