<link rel="stylesheet" href="./styles/main.css" media="screen" title="no title" charset="utf-8">

<div class="container" ng-controller="mainCtrl">
  <div class="row">
    <h1>Hello! {{user}}</h1>
    <div class="feeds">FEED 1</div>
    <div class="feeds">FEED 2</div>
      <div class="img-con">
        <h1>Instagram</h1>
        <div class="imgs" ng-repeat="post in instafeed | limitTo: 6" >

                <a href="{{post.link}}"><img ng-src="{{post.images.standard_resolution.url}}" style="height: 100px; width: 100px;"></a>
              </div>
      </div>
        </div>

  </div>
  <div class="main">
  </div>
</div>

<scope>
