body {
  margin: 0;
  background: url("../views/img/NY.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}
.header {
  position: absolute;
  height: 100%;
  width: 200px;
  color: white;
  background-color: black;
  font-family: sans-serif;
}
.item {
  display: flex;
  flex-flow: column;
  position: relative;
  height: auto;
  width: 60px;
  margin: 5px;
  margin-left: 1px;
  justify-content: flex-end;
}

.instafeed {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.auth {
  height: 30%;
  width: 15%;
  font-size: 10px;
}

.button-primary {
  height: 25px;
  width: 5em;
  margin: 0px;
}

.auth .button-primary h1 {
  font-size: 8px;
  border-radius: 15px;
}

.row {
  float: left;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  margin-top: 5%;
  margin-left: 30%;
}

.info {
  float: left;
  color: white;
  margin-top: 15%;
  margin-left: 15%;
}

.name {
  float: left;
}

.connections {
  float: left;
  color: white;
  margin-top: 15%;
  margin-left: 15%;
}
